<h3>Check in for meeting on <%= @meeting.meeting_date %></h3>
<style>
  .top-bar{
    display: none;
  }
</style>
<form>
  Your student ID?: <br>
  <input type = "text" name = "student_id">
  <input type = "submit" name = "submit">
</form>
