<% if current_user.admin? %>
  <h3>Check in for meeting on <%= @meeting.meeting_date %></h3>
  <style>
    .top-bar{
      display: none;
    }
  </style>
  <script>
    window.onload = function(){
      var text_input = document.getElementById ('student_id');
      text_input.focus();
      text_input.select();
  }
  </script>
  </script>
  <form>
    Your student ID?: <br>
    <input type = "text" name = "student_id" id = "student_id">
    <input type = "submit" name = "submit">
  </form>
<% end %>
